/* --------- CSS style */
body {
  background-color: rgba(255, 176, 5, 0.625);
  font-family: "Raleway", sans-serif;
  color: #445361;
  text-align: center;
}

/* --------- Heading */

.heading {
  text-align: center;
  font-size: 4rem;
  padding-top: 20px;
}

.logo {
  height: 60px;
  padding-right: 0px;
 
}

/* --------- Game layout */
 
.question-area {
  width: 50%;
  font-size: 2rem;
  margin: auto;
  padding: 50px 0;
}

.question-area span {
  padding: 0 15px;
}

.score-area {
  margin: 5px auto;
  width: 60%;
  font-size: 1.2rem;
}

.controls-area {
  width: 85%;
  margin: 30px auto;
}

#score {
  color: rgb(126, 177, 85);
  font-weight: bold;
}

#incorrect {
  color: red;
  font-weight: bold;
}

.answer-message {
  display: none;
  font-size: 1rem;
}

#answer-box {
  border: none;
  color: #445361;
  display: inline-block;
  height: 40px;
  width: 80px;
  font-size: 1.2rem;
}

.scores {
  display: inline-block;
  padding: 10px;
}

/* --------- Buttoms */

.btn {
  width: 220px;
  height: 60px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: rgb(207, 159, 159);
}

.btn:focus {
  outline: none;
}

.submit:hover {
  cursor: pointer;
}

.btn--big {
  padding-top: 10px;
  background-color: white;
  border: 10px solid;
  width: 100px;
  height: 100px;
  font-size: 4rem;
  margin: 0 30px;
  transition: all 0.5s;
  margin-bottom: 20px;
}

.btn--big span {
  text-align: center;
  font-size: 12px;
}

.btn--big::after {
content: attr(data-type);
font-size: 1rem;
color: #445361;
position: relative;
left: -0.5em;
}


.btn--green {
  
  font-family: 'Times New Roman', Times, serif;
  color: rgb(230, 71, 23);
  background-color: orange;
  border-radius: 20px;
}

.btn--green:active,
.btn--green:hover {
  background-color: 
rgba(231, 227, 19, 0.719);
  
}

.new-bottom {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  
  border-block-end-style: 5cm;
  margin-top: 45px;
  color:rgb(23, 61, 230);
  border-radius: 0px;
}

.new-bottom:active,
.new-bottom:hover {
  background-color: lightpink;

/* --------- Media queries */

@media (max-width: 600px) {
  .controls-area {
      width: 100%;
  }

  .btn--big {
      margin: 0 10px;
      padding: 5px;
      border: 5px solid;
      width: 50px;
      height: 50px;
      font-size: 1.5rem;
  }

  .btn--big::after {
      font-size: 0.6rem;
      left: -0.7rem;
  }

  .question-area {
      padding: 10% 0;
      width: 100%;
  }

  .question-area span {
      padding: 0;
  }

  .answer-message {
      display: block;
  }

  #answer-box {
      display: block;
      margin: 0 auto;
  }
  .btn--gray {
      margin-top: 0;
  }

  .score-area {
      width: 100%;
  }

  .scores {
      margin: 0.5em auto;
      display: block;
      padding: 5px;
  }

  .heading {
      font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .game-area {
      height: 70vh;
  }

  .controls-area {
      width: 75%;
      margin: 10px auto;
  }

  .btn--big {
      margin: 10px 10px;
  }
  .question-area {
      padding: 10px 0;  }}}

#countdown {
  font-size: 20px;
}

#countdown .message {
  color: red;
}

#curentCountdown[value="5"] {
  color: black;
}

#curentCountdown[value="4"] {
  color: black;
}

#curentCountdown[value="3"] {
  color: red;
}

#curentCountdown[value="2"] {
  color: red;
}

#curentCountdown[value="1"] {
  color: red;
}

